@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root{
  --Green: hsl(75, 94%, 57%);

  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--Off-Black);
}

a{
  text-decoration: none;
}

.wrapper{
  margin: 5.5em auto;
  border-radius: .5em;
  padding: 2em .5em .5em .5em;
  width: 90%;
  background-color: var(--Dark-Grey);
}

.main{
  text-align: center;
  margin: auto;
}

.avatar img{
  border-radius: 999em;
  width: 30%;
  margin: 0 0 1.5em 0;
}

.bio .name{
  color: var(--White);
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: .25em;
}

.bio .location{
  color: var(--Green);
  font-weight: 600;
  font-size: .8em;
  margin-bottom: 2em;
}

.bio .service{
  color: var(--White);
  font-family: Inter;
  font-size: .9em;
  font-weight: 400;
  margin-bottom: 1.5em;
}

.links{
  width: 95%;
  margin: auto;
}

.links a{
  font-size: 1em;
  font-weight: 600;
  font-family: Inter;
  display: block;
  color: var(--White);
  background-color: var(--Grey);
  margin: 1em .25em;
  padding: 1em 0;
  border-radius: .5em;
}

.links a:hover{
  color: var(--Dark-Grey);
  background-color: var(--Green);
}


.wrapper-alert{
  height: auto;
}

.main-alert{
  height: fit-content;
}


.main-alert h1{
  font-family: Inter;
  font-size: 8em;
  color: var(--Green);
  margin-bottom: .2em;
  font-weight: 600;
}

.main-alert p{
  font-family: Inter;
  font-size: .7em;
  color: var(--White);
  font-weight: 400;
  line-height: 1.25em;
}

.main-alert a{
  display: block;
  width: fit-content;
  font-family: Inter;
  font-size: 1.5em;
  color: var(--White);
  background-color: var(--Grey);
  font-weight: 600;
  padding: .5em 1em;
  margin: 2em auto;
  border-radius: .5em;
}

.main-alert a:hover{
  color: var(--Dark-Grey);
  background-color: var(--Green);
}



@media screen and (min-width: 375px) {
  .wrapper{
    margin: 5.5em auto;
    border-radius: .75em;
    padding: 2em .75em .75em .75em;
    width: 85%;
  }

  .avatar img{
    border-radius: 999em;
    width: 30%;
    margin: 0 0 1.5em 0;
  }
  
  .bio .name{
    font-size: 1.5em;
    margin-bottom: .25em;
  }
  
  .bio .location{
    font-size: .9em;
    margin-bottom: 2.5em;
  }
  
  .bio .service{
    font-size: 1em;
    margin-bottom: 1.5em;
  }
  
  .links{
    width: 95%;
  }
  
  .links a{
    font-size: 1.1em;
  }

  .main-alert p{
    font-size: .8em;
  }
}

@media screen and (min-width: 425px){
  .wrapper{
    margin: 5.5em auto;
    border-radius: .75em;
    padding: 2em .75em 1em .75em;
    max-width: 385px;
  }

  .avatar img{
    border-radius: 999em;
    width: 30%;
    margin: 0 0 1.5em 0;
  }
  
  .bio .name{
    font-size: 1.6em;
    margin-bottom: .25em;
  }
  
  .bio .location{
    font-size: 1em;
    margin-bottom: 2.5em;
  }
  
  .bio .service{
    font-size: 1.1em;
    margin-bottom: 1.5em;
  }
  
  .links{
    width: 90%;
  }
  
  .links a{
    font-size: 1.1em;
    margin: 1em .25em;
    padding: 1.2em 0;
    border-radius: .5em;
  }
}



@media screen and (min-width: 768px) {
   .wrapper{
    margin: 10em auto;
    border-radius: .95em;
    padding: 3em .75em 1em .75em;
    max-width: 450px;
  }

  .avatar img{
    border-radius: 999em;
    width: 30%;
    margin: 0 0 1.5em 0;
  }
  
  .bio .name{
    font-size: 1.65em;
    margin-bottom: .25em;
  }
  
  .bio .location{
    font-size: 1.05em;
    margin-bottom: 2em;
  }
  
  .bio .service{
    font-size: 1.2em;
    margin-bottom: 2em;
  }
  
  .links{
    width: 90%;
  }
  
  .links a{
    font-size: 1.2em;
    margin: 1.1em .35em;
    padding: 1.1em 0;
    border-radius: .55em;
  }

  .main-alert p{
    font-size: 1em;
  }
}